@charset "utf-8";

html:not(.touchmode) ::-webkit-scrollbar {width: 10px;}
html:not(.touchmode) ::-webkit-scrollbar-thumb {background-color: #ccc;border-radius: 10px;background-clip: padding-box;border: 2px solid transparent;}
html:not(.touchmode) ::-webkit-scrollbar-track {background-color: transparent;border-radius: 10px;box-shadow: inset 0px 0px 5px transparent;}


/* CSS Document */

.popup_wrap{width:100%;position:fixed;top:0;left:0;height:100%;transform: 0;background:rgba(0,0,0,.4);font-family: 'Pretendard'; display:none;transition:.4s opacity;opacity:0;z-index:50;}
.popup_wrap.active{display:block;}
.popup_wrap.active.motion{opacity:1;}
.popup_modal_container{display:table;table-layout: fixed;width:100%;height:100%;position:absolute;top:0;left:0;}
.popup_modal_inner{display:table-cell;vertical-align: middle;text-align: center;padding:20px;}
.popup_modal_box{background:#fff;max-width:340px;margin:0 auto;}
.popup_modal_contents_row{display:flex;align-items: center;justify-content: center;text-align: center;box-sizing: border-box;padding:50px 20px;}
.popup_modal_contents_row.type2{padding:20px;display:block;}
.popup_modal_para{color:#0046fe;font-size:31px;font-weight:700;line-height:1.3;word-break: keep-all;text-align: center;}
.popup_modal_btn_row{}
.popup_modal_container .btn_popup_submit{background:#0046fe;display:flex;align-items: center;justify-content: center;min-height:60px;box-sizing: border-box;padding:10px;font-size:22px;color:#fff;font-weight:500;}
.btn_popup_submit.primary{}

.popup_modal_title{font-size:21px;color:#4d4d4d;font-weight:500;}
.popup_modal_title_sub{font-size:17px;color:#4d4d4d;margin-top:15px;}
.popup_modal_design_img{text-align: center;margin-top:20px;}
.popup_modal_design_img img{vertical-align: top;max-width:227px;}

.full_page_container{background:#fff;position:relative;}
.full_popup_container{background:#fff;display:flex;flex-direction: column;height:100%;position:absolute;top:0;left:50%;width:100%;max-width:750px;transform: translateX(-50%);}
.full_popup_title_row{flex:0;padding:30px 70px 20px 20px;}
.full_popup_title{font-size:17px;font-weight:700;}
.full_popup_container.type2 *{font-family: 'OneShinhan';}
.full_popup_container.type2 .full_popup_title{color:#000000;font-family: 'OneShinhan';line-height:1;}
.full_popup_container.type2 .full_popup_title_row{flex:0 0 55px;padding:10px 20px;box-sizing: border-box;display:flex;align-items: center;border-bottom:1px solid #efefef;}

.full_popup_container.type2 .btn_popup_close{width:55px;height:55px;top:0;right:0;}
.full_popup_container.type2 .full_popup_contents_row{padding:0;}
.full_popup_contents_row{flex:1;min-height:0;padding:0 20px 30px;overflow:hidden;overflow-y:auto;}

.btn_popup_close_text{position:absolute;top:30px;right:20px;color:#767676;font-size:17px;font-weight:500;}

.btn_popup_close{width:25px;height:25px;position:absolute;top:27px;right:25px;}
.btn_popup_close:before,
.btn_popup_close:after{display:block;content:'';width:2px;height:25px;position:absolute;top:50%;left:50%;margin:-12.5px 0 0 -1px;background:#000;}
.btn_popup_close:before{transform: rotate(45deg);}
.btn_popup_close:after{transform: rotate(-45deg);}

.full_popup_btn_row{display:flex;}
.btn_popup_submit{flex:1;display:flex;background:#0046fe;text-align: center;min-height:60px;justify-content: center; align-items: center;box-sizing: border-box;padding:10px;}
.btn_popup_submit_text{color:#fff;font-size:22px;}
.btn_popup_submit.second{color:#454545;background:#eeeeee;}
.btn_popup_submit.second .btn_popup_submit_text{color:#454545;}

.page_wrap{width:750px;margin:0 auto;font-family: 'Pretendard';padding-bottom:60px;}
.agree_vitem_wrap{}
.agree_vitem{padding:20px;}
.agree_vitem.intro_item{padding:40px 20px 20px;}
.agree_vitem.type2{background:#eee;}
.btn_bottom_layer{position:fixed;bottom:0;left:50%;width:750px;transform: translateX(-50%);z-index:30;}
.btn_finish_submit_wrap{display:flex;}
.btn_finish_submit{flex:1;background:#eee;color:#454545;display:flex;align-items: center;justify-content: center;min-height:60px;box-sizing: border-box;padding:10px;font-size:22px;}
.btn_finish_submit.primary{background:#0046fe;color:#fff;}
.agree_vtitle_01{font-size:17px;color:#454545; font-weight:700;line-height:1.4;}
.agree_vtitle_01 strong{color:#0046fe; font-weight:700;}

.agree_vtitle_02{margin-top:25px;color:#454545;}
.agree_vtitle_main{font-size:14px;font-weight:700;}
.agree_vtitle_sub{margin-top:10px;}
.btn_textlink{color:#0046fe;display:inline;}

.agree_vhead_text{color:#4d4d4d;font-weight:700;}
.agree_vbody_box{margin-top:10px;border:1px solid #454545;padding:10px 15px;line-height:1.4;}

.agree_vcopy{color:#454545; font-size:12px;line-height:1.4;}

.agree_toggle_body{}
.agree_toggle_onebox{display:block;border:1px solid #6a6a6a;padding:12px 45px 12px 15px;position:relative;}
.agree_toggle_onebox:after{display:block;content:'';width:10px;height:10px;border-right:2px solid #454545;border-bottom:2px solid #454545;position:absolute;top:10px;right:15px;transform: rotate(45deg);}

.agree_toggle_onebox.active{border-color:#0046ff;}
.agree_toggle_onebox.active:after{transform: rotate(225deg);top:18px;border-color:#0046ff}
.agree_toggle_bar .props_item,
.agree_toggle_onebox .props_item{position:relative;top:1px;}
.agree_toggle_bar{display:block;border:1px solid #6a6a6a;padding:12px 45px 12px 15px;position:relative;}
.agree_toggle_bar:after{display:block;content:'';width:10px;height:10px;border-right:2px solid #454545;border-top:2px solid #454545;position:absolute;top:14px;right:19px;transform: rotate(45deg);}
.props_item{display:inline-flex;gap:8px;position:relative;}
.props_form{appearance: none;-webkit-appearance: none;width:14px;height:14px;border:1px solid #6a6a6a;background:#fff url("../images/ico_agree_checkbox.png") no-repeat 0 0/100% auto;vertical-align: middle; flex:0 0 14px;}
.props_form:checked{background-position:0 100%; background-color:#0046ff;border-color:#0046ff;}
.props_label{color:#454545;display:inline-block;font-weight:700;cursor: pointer;vertical-align: middle;}
.props_label:after{display:block;content:'';width:calc(100% + 10px);height:calc(100% + 10px);position:absolute;top:-5px;left:-5px;}
.props_label.type2{}
.props_item.circle_type{gap:5px;}
.props_item.circle_type .props_form{border:1px solid #5d5d5d;box-sizing: border-box;border-radius:100%;}
.props_item.circle_type .props_form:checked{border:4px solid #0046ff;background:transparent;}
/* .props_item.circle_type .props_form:checked + .props_label{color:#0046ff;} */
.props_item.circle_type .props_label{font-weight:400;}

.props_item.global .props_form{appearance: none;-webkit-appearance: none;width:14px;height:14px;border:0;background:#fff url("../images/ico_one_check.png") no-repeat 0 0/100% auto;vertical-align: middle; flex:0 0 14px;}
.props_item.global .props_form:checked{background-color:transparent;background-position:0 100%;}
.props_item.global .props_label{color:#000;}

.agree_props_list .props_item{gap:5px;}

.agree_toggle_two_row{background:#eeeeee;margin-top:10px;padding:0 15px;}
.agree_two_block{padding:20px 0;border-bottom:1px solid #454545}
.agree_two_block:last-of-type{border-bottom:0}
.agree_props_list{display:flex;flex-wrap:wrap;gap:5px 0;}
.agree_props_list > li{box-sizing: border-box;flex:0 0 50%;padding:0 5px 0 0;}
.agree_props_list > li .props_item{}
.agree_props_list > li:last-of-type{}

.agree_two_title_group{margin-bottom:15px;}
.agree_two_title_main{font-size:12px;color:#000000;}
.agree_two_title_sub{font-size:12px;color:#767676;margin-top:7px;}

.agree_props_list.type2{justify-content: space-between;flex-wrap:nowrap}
.agree_props_list.type2 > li{flex:none;padding:0;}

.agree_props_list .props_label{font-weight:400;}

.agree_toggle_list{}
.agree_toggle_list > li{margin-bottom:20px;}
.agree_toggle_list > li:last-of-type{margin-bottom:0;}

.agree_toggle_global_contents{margin-top:20px;display:none;}
.agree_toggle_global_contents.active{display:block;}

.agree_vcopy_wrap{margin-top:30px;}
.agree_vcopy_wrap .agree_vcopy{font-weight:700;color:#000;}

.agree_props_title{font-size:13px;color:#454545;margin-bottom:10px;font-weight:500;line-height:1.4;}
.agree_props_title.emp{}

.terms_title_row{padding:40px 20px 20px;}
.terms_title{    
    font-size: 17px;
    color: #454545;
    font-weight: 700;
    line-height: 1.4;
}

.terms_cont_wrap{}
.terms_cont{padding:10px 20px;}
.terms_cont_title{font-size:12px;color:#454545;font-weight:700;}
.terms_cont.type2{background:#eee;padding:20px;margin:10px 0;}
.terms_cont:first-of-type{}
.terms_cont:last-of-type{}
.terms_cont_contents{margin-top:5px;}
.terms_cont_para{font-size:12px;color:#454545;line-height:1.4;}
.bold{font-weight:700 !important;}
.bold *{font-weight:700 !important;}
.emp_link,
.terms_cont .emp{color:#0046ff;}
.note_wrap{color:#000;font-weight:300;line-height:1.4;margin-top:20px;}

.indent_item_list{margin-top:5px;line-height:1.4;}
.indent_item_list > li{display:flex;gap:5px;}
.indent_bullet{flex:0;white-space: nowrap;}
.indent_para_group{flex:1;}

.step_level_wrap{padding:12px 0 20px;}
.step_level_label_list{display:flex;text-align: center;margin-bottom:5px;}
.step_level_label_list > li{flex:1;}
.step_level_label{font-size:10px;color:#454545; font-weight:300;}
.step_level_bar_list{height:10px;position:relative;border-radius:100px;display:flex;gap:1px;}
.step_level_bar_list > li{flex:1;position:relative;}
.step_level_bar_list > li.has_ico:after{display:block;content:'';width:9px;height:13px;background:url("../images/ico_step_water.png") no-repeat 50% 50%/100% auto;position:absolute;top:5px;left:50%;transform: translateX(-50%);}
.step_level_bar_list > li.bg01{background:#00b7ee;}
.step_level_bar_list > li.bg02{background:#b3d465;}
.step_level_bar_list > li.bg03{background:#fff45c;}
.step_level_bar_list > li.bg04{background:#f19149;}
.step_level_bar_list > li.bg05{background:#ec6941;}

.step_level_bar_list > li:first-of-type{border-radius:100px 0 0 100px;}
.step_level_bar_list > li:last-of-type{border-radius:0 100px 100px 0;}

.f_vcont_wrap{}
.f_vcont{margin-bottom:25px;}
.f_vcont:last-of-type{margin-bottom:0;}


.terms_tail_wrap{}
.terms_tail_guide{color:#454545;font-size:12px;margin-bottom:20px;}
.terms_block_wrap{}
.terms_block_title{font-size:12px;color:#000000;line-height:1;font-weight:700;}
.terms_img_group{margin:20px 0 12px;}
.terms_img_group img{vertical-align: top;height:31px;}
.terms_caption_group{font-size:13px;color:#454545;}
.terms_cont_para{}
.terms_guide_tb_wrap{margin-top:20px;border-top:1px solid #454545;}
.terms_guide_tb{width:100%;}
.terms_guide_tb th{width:1px;padding:10px 7px;white-space: nowrap;background:#e5ecff;border-bottom:1px solid #a8a8a8;}
.terms_guide_tb td{padding:10px;border-bottom:1px solid #a8a8a8;}
.terms_thtext{display:inline-block;white-space: nowrap;color:#454545;font-weight:700;}
.terms_tdpara{color:#000000;font-size:12px;line-height:1.4;}
.terms_tdpara.emp{color:#0046ff;font-weight:700;}
.terms_data_list{margin-top:15px;}
.terms_data_list > li{display:flex;gap:5px;margin-top:15px;}
.terms_data_list > li:last-of-type{}
.terms_data_bullet{flex:0;white-space: nowrap;}
.terms_data_para_g{flex:1;min-width:0;}
.terms_data_para{font-size:10px;color:#454545; font-weight:700;margin-bottom:5px;}
.terms_data_para:last-of-type{margin-bottom:0}
.terms_data_para.emp{font-size:12px;}
.terms_data_para_g .emp{font-weight:700;color:#0046ff;}
.terms_data_para:last-of-type{}


.brick_item_wrap{}
.brick_item{padding:30px 20px;border-bottom:9px solid #efefef;}
.brick_item:last-of-type{border-bottom:0;}

.render_title_wrap{}
.render_title_main{font-size:17px;color:#000000; font-weight:700;}
.render_title_sub{font-size:15px;color:#454545;margin-top:5px;}

.render_message_wrap{margin-top:25px;padding:22px 20px;background:#efefef;color:#000;font-weight:300;}
.render_meaage_main{color:#000;font-weight:300;font-size:15px;}
.render_data_tb{width:100%;display:table;margin-top:20px;}
.render_data_tr{display:table-row;}
.render_data_tr dt,
.render_data_tr dd{display:table-cell;vertical-align: middle;}
.render_data_tr dt{width:1px;white-space: nowrap;padding:0 40px 18px 0;}
.render_data_tr dd{padding:0 0 18px 0;}
.render_data_tr:last-of-type dt,
.render_data_tr:last-of-type dd{padding-bottom:0;}
.render_data_key{font-size:13px;}
.render_data_value{font-size:15px;}

.terms_title{font-size:15px;color:#000000;font-weight:700;}
.terms_toggle_zone{margin-top:13px;}
.terms_toggle_bar{display:block;border:1px solid #efefef;position:relative;padding:10px 40px 10px 15px;}
.terms_toggle_bar:after{display:block;content:'';width:10px;height:10px; position:absolute;top:50%;right:15px; margin:-9px 0 0 0; border-right:2px solid #000; border-bottom:2px solid #000; transform: rotate(45deg);}
.terms_toggle_bar.active:after{transform: rotate(225deg);margin-top:-1px;}
.terms_props_item{display:flex;align-items: center;gap:7px;}
input.input_checkbox{display:inline-block;width:25px;height:25px;appearance:none;background:url("../images/ico_chk_50.png") no-repeat 0 0/100% auto;border:1px solid #efefef;}
.input_checkbox_label{font-size:15px;color:#000000; font-weight:700;cursor: pointer;}
input.input_checkbox:checked{background-position:0 100% ;background-color:#705deb;border-color:#705deb;}
input.input_checkbox:checked + .input_checkbox_label{}

.terms_contents_group{background:#efefef;padding:25px;display:none;}
.terms_contents_group.active{display:block;}
.terms_cont_item{margin-bottom:20px;}
.terms_cont_item:last-of-type{margin-bottom:0;}

.btn_dialogue_submit_wrap{flex:0;display:flex;gap:8px;padding:10px;}
.btn_dialogue_submit{padding:15px 0;border:1px solid #efefef;flex:0 0 30%;display:flex;align-items: center; justify-content: center;}
.btn_dialogue_submit_text{font-size:17px;font-weight:700;color:#000;}
.btn_dialogue_submit.primary{flex:1;background:#705deb;border-color:#705deb;box-shadow: 0px 6px 10px 0px rgba(112, 93, 235, 0.3);}
.btn_dialogue_submit.primary .btn_dialogue_submit_text{color:#fff;}

@media (max-width:750px){
    .page_wrap{width:auto;}
    .btn_bottom_layer,
    .popup_wrap{width:100%;left:0;transform: translateX(0);}
    .terms_img_group img{height:auto;}
}

@media (max-width:320px){
    .agree_props_list.type2{justify-content: flex-start;flex-wrap:wrap;gap:10px;}
    .agree_props_list.type2 > li{flex:auto;}
}